.container {
  display: grid;
}

.banner-container {
  height: 300px;
  width: 100vw;
  height: 60vh;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.banner {
  filter: brightness(50%) !important;
}

.banner-text {
  max-width: 700px;
  z-index: 999;
  color: white;
  text-align: center;
  font-weight: bold;
  filter: none;
  position: relative;
  text-shadow: 2px 3px 2px rgb(34, 34, 34);
}

.banner-text .main-title {
  color: white;

  font-size: 2.5rem;
}

.banner-text p {
  color: rgba(255, 255, 255, 0.712);
  font-weight: 500;
}

.main-content {
  margin-top: 2rem;
  width: 70%;
  align-self: center;
  justify-self: center;
  margin-bottom: 4rem;
}

.card {
  margin-top: 2rem;
  background-color: rgb(226, 226, 226);
  padding: 1rem;
  border-radius: 20px;
}

.footer {
  width: 100%;

  padding: 1rem;
  border-top: 1px solid #eaeaea;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(241, 241, 241);
  text-align: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .main-content {
    width: 80%;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
